@use "../../../../styles/variables" as v;
@use "../../../../styles/mixins" as m;

.workspace {
}

.workspace-header {
}

.workspace-header__title-block {
}

.workspace-header__add-board {
}

.workspace-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    padding: 10px;
}

.workspace-cards__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;


}

.workspace-cards__add-board {
    @include m.flex-direction-col;
    box-sizing: border-box;
    height: 130px;

    background-color: transparent;
    border: 1px dashed v.$color-text-ghost;
    border-radius: v.$radius-base;

    font-size: v.$font-size-md;

    color: v.$color-text-ghost;

    span {
        font-size: v.$font-size-xxl;
    }

    p {
        text-align: center;
    }

    &:hover {
        color: v.$color-bg-surface;
    }
}
