@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.task-card__item {
}

.task-card__link {
    display: block;
    max-width: 320px;

    padding: 10px;

    border: 1px solid v.$color-border;
    border-radius: v.$radius-sm;

    color: v.$color-text-secondary;
    text-decoration: none;
    box-sizing: border-box;
    &:hover {
        background: v.$color-bg-primary;
    }
    &:active {
        color: v.$color-text-secondary;
        text-decoration: none;
    }
}

.task-card__priority {
    height: 24px;

    padding: 0 8px;

    border-radius: v.$radius-full;
    font-size: v.$font-size-sm;
    font-family: v.$font-family-base;
    font-weight: bold;
    &--low {
        background-color: v.$color-tag-low-bg;

        color: v.$color-tag-low-text;
    }
    &--medium {
        background-color: v.$color-tag-important-bg;

        color: v.$color-tag-important-text;
    }
    &--high {
        background-color: v.$color-tag-high-bg;

        color: v.$color-tag-high-text;
    }
}

.task-card__title {
    margin-top: 10px;
    margin-bottom: 5px;

    color: v.$color-accent;
    font-size: v.$font-size-lg;
    font-family: v.$font-family-base;
}
.task-card__description {
}
.task-card__owners {
}
.owners__list {
    @include m.flex-vertical-center;
    //display: flex;

    gap: 10px;
}
.owners__item {
    @include m.flex-center;
    width: 32px;
    height: 32px;

    border: 1px solid v.$color-accent;
    border-radius: v.$radius-full;
    font-size: v.$font-size-base;
    background-color: v.$color-bg-primary;
    &:not(:first-child) {
        margin-left: -8px;
    }
}
