@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.cards__item {
    width: 100%;
    max-width: 320px;
}

.link {
    box-sizing: border-box;
    display: block;

    padding: 10px;

    border: 1px solid v.$color-border;
    border-radius: v.$radius-sm;

    color: v.$color-text-secondary;
    text-decoration: none;

    &:hover {
        background: v.$color-bg-primary;
    }

    &:active {
        color: v.$color-text-secondary;
        text-decoration: none;
    }
}

.cards__item-info {
}

.cards__item-title {
    margin-top: 10px;
    margin-bottom: 5px;

    font-family: v.$font-family-base;
    font-size: v.$font-size-lg;

    color: v.$color-accent;
}

.cards__item-qty {
    margin: 0;
}

.owners {
    @include m.flex-vertical-center;

    gap: 10px;
}

.owners__list {
    display: flex;
}

.owners__item {
}

.owners__span {
}
