@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.header {
    @include m.flex-jc-space-b;
    box-sizing: border-box;
    align-items: center;

    margin: 0;

    padding: 32px;

    background-color: v.$color-accent-light;
}

.header__button-list {
    @include m.flex-center;
    column-gap: 5px;

    height: 40px;
}

.header__title {
    text-transform: capitalize;
    @include m.mobile {
        font-size: v.$font-size-lg;
    }
}

.header__share {
}

.header__burger {
    display: none;

    background: none;
    border: none;

    cursor: pointer;

    @include m.mobile {
        display: block;
    }
}
