@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.column {
    box-sizing: border-box;
    width: 344px;

    padding: 12px;

    background-color: v.$color-bg-column;

    border: 1px solid v.$color-border;
    border-radius: v.$font-size-xxl;
}

.container {
}

.column__header {
    @include m.flex-vertical-center;
    box-sizing: border-box;

    margin-bottom: 16px;
    padding: 0 8px;

    background-color: v.$color-accent-dark;

    border-radius: v.$radius-full;
}

.column__header-count {
    @include m.flex-center;
    width: 41px;
    height: 32px;

    background-color: v.$color-bg-surface;

    border-radius: v.$radius-full;

    color: v.$color-accent-dark;
}

.column__header-title {
    color: v.$color-bg-surface;
}

.column__create-board {
    margin-left: auto;

    background-color: transparent;

    &::after {
        font-size: v.$font-size-xxl;

        color: v.$color-bg-surface;

        content: "+";
    }

    &:hover {
        &::after {
            color: v.$color-accent-dark;
        }
    }
}
