@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.button {
    @include m.flex-center;

    gap: v.$spacing-sm;
    height: 40px;

    padding: 0 v.$spacing-md;

    border: none;
    border-radius: v.$radius-full;
    color: v.$color-bg-primary;
    font-size: v.$font-size-base;
    font-family: v.$font-family-base;
    font-weight: 500;

    transition:
        background 0.15s ease,
        opacity 0.15s ease,
        transform 0.1s ease;
    cursor: pointer;
    //background-color: v.$color-accent;
    text-transform: capitalize;

    &:active {
        transform: scale(0.98);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

// вариант по умолчанию — primary (акцентная заливка)
.button--primary {
    background: v.$color-accent;
    color: #fff;

    &:hover:not(:disabled) {
        background: v.$color-accent-dark;
    }
}

.button--secondary {
    border: 1px solid v.$color-border;
    background: v.$color-bg-surface;
    color: v.$color-text-primary;

    &:hover:not(:disabled) {
        border-color: v.$color-accent;
    }
}

.button--ghost {
    background: transparent;
    color: v.$color-text-secondary;

    &:hover:not(:disabled) {
        background: v.$color-bg-primary;
    }
}

.button--danger {
    background: v.$color-danger;
    color: #fff;

    &:hover:not(:disabled) {
        opacity: 0.9;
    }
}

// круглая кнопка-иконка (крестик закрытия, плюс и т.д.)
.button--icon {
    width: 40px;
    height: 40px;

    padding: 0;

    border-radius: v.$radius-full;
}
