@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.cards__item {
}

.cards__link {
    box-sizing: border-box;
    display: block;
    width: 100%;
    width: 320px;

    padding: 10px;

    border: 1px solid v.$color-border;
    border-radius: v.$radius-sm;

    color: v.$color-text-secondary;
    text-decoration: none;

    &:hover {
        background: v.$color-bg-primary;
    }

    &:active {
        color: v.$color-text-secondary;
        text-decoration: none;
    }
}

.cards__item-info {
}

.cards__item-title {
    margin-top: 10px;
    margin-bottom: 5px;

    font-family: v.$font-family-base;
    font-size: v.$font-size-lg;

    color: v.$color-accent-dark;
}

.cards__item-qty {
    margin: 0;
}

.owners {
    @include m.flex-vertical-center;

    // display: flex;

    gap: 10px;
}

.owners__list {
    display: flex;
}

.owners__item {
    @include m.flex-center;
    width: 32px;
    height: 32px;

    background-color: v.$color-bg-primary;

    border: 1px solid v.$color-accent;
    border-radius: v.$radius-full;

    font-size: v.$font-size-base;

    &:not(:first-child) {
        margin-left: -8px;
    }
}

.owners__span {
}
