@use "variables" as v;

@mixin mobile {
    @media (max-width: #{v.$breakpoint-mobile}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{v.$breakpoint-tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{v.$breakpoint-desktop}) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-vertical-center {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

@mixin card-surface {
    background: v.$color-bg-surface;
    border: 1px solid v.$color-border;
    border-radius: v.$radius-base;
    //box-shadow: v.$shadow-sm;
    transition:
        border-color 0.15s ease,
        box-shadow 0.15s ease;
}
// font size mixins
//@mixin font-h1{
//  font-family: v.$font-family-base;
//  font-size: v.$font-size-base;
//  font-weight: 500;
//}
//@mixin font-h2{}
//@mixin font-h3{}
//
//@mixin font-h3{}
//@mixin font-h3{}
