@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.select {
    height: 30px;

    padding: 0 v.$spacing-sm;

    background: v.$color-bg-surface;
    border: 1px solid v.$color-border;   // нейтральная рамка по умолчанию
    border-radius: v.$radius-sm;

    color: v.$color-text-primary;
    outline: none;

    &:focus {
        border-color: v.$color-accent;   // акцент только при фокусе/открытии
    }

    &:hover {
        border-color: v.$color-accent;   // по желанию — подсветка при наведении
    }
}
