@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.select {
    height: 30px;

    padding: 0 v.$spacing-sm;

    border-radius: v.$radius-sm;
    border-color: v.$color-accent;

    background: v.$color-bg-surface;
    color: v.$color-text-primary;
}
