@use "../../../../../../styles/variables" as v;
@use "../../../../../../styles/mixins" as m;


.workspace {

}

.board-page {

}

.board-page__header {

}

.board-page__title-wrapper {

}

.board-page__title {

}

.column__list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;

}

.column__item{
    flex: 1 1 300px;   // растёт и сжимается, стартовая ширина 300px
    min-width: 280px;  // не уже этого
    max-width: 600px;  // не шире этого
}

.board-column__list {
    @include m.flex-direction-col;
    gap: 8px;

}

.board-column__item {

}

.board-column__item--empty {
    @include m.flex-center;

}

.board-column__empty-text {

}
